<% content_for :title, "Users" %>

<div class="users">
	<h1>Users</h1>
	<% if @users.empty? %>
		<div class="users">No users found.</div>
	<% else %> 
		<div class="users">
			<ul>
			<% @users.each do |u| %>
				<li>
					<%= link_to "#{u.first_name} #{u.last_name}", "/photos/index/#{u.id.to_s}" %>
				</li>
			<% end %>
			</ul>
		</div>
	<% end %>
</div>
<hr />

<div class="search">
	<h2>Search Photos</h2>
	<input type="text" id="search-box" />
	<div id="search-results"></div>
</div>

<%= javascript_include_tag "search", :type => "text/javascript" %>
<script type="text/javascript">
//<![CDATA[
	new Search("search-box", "query", "/photos/search", "search-results");
//]]>
</script>